<html>
	<head>
	    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	    <link href='http://fonts.googleapis.com/css?family=Ultra' rel='stylesheet' type='text/css'>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript" ></script>
	    <script type="text/javascript" src="/stylesheets/main.js"></script>
	    <script src = "http://www.youtube.com/player_api"></script>
	</head>
	<body>
		<!-- ((((((((((((((((((((((((((((((((( NAVIGATION PANEL ))))))))))))))))))))))))))))))))) -->
		<div id="black_panel">
		</div>
		<div id="navigation_panel">
			<h1 id="title">NCOVR</h1>
			<hr />
			<!-- ((((((((((((((((((((((((((((((((( SEARCH REGION ))))))))))))))))))))))))))))))))) -->
			<div id="navigation_container">
				<input class="display_button" id="search_display" type="button">
				<input class="display_button" id="add_display" type="button" value="+">
				<input class="display_button" id="hamburger" type="button" value="&#8592;">

				<div class="appearing_div" id="search_div">
					<form id="advanced_search" action="/" method="get" enctype="multipart/form-data">
						<div id="orig_search_wrapper" class="margin_correct suggestion_box">
							<textarea id="search_orig" rows="1" maxlength="60" name="orig_search" placeholder="Search by Original Tags (ex. halleluja)"></textarea>
							<ul id="orig_search_list" class="auto-list">
							</ul>
						</div>
						<div id="cover_search_wrapper" class="margin_correct suggestion_box">
							<textarea id="search_cover" rows="1" maxlength="60" name="cover_search" placeholder="Search by Cover Tags (ex. mournful, sweet)"></textarea>
							<ul id="cover_search_list" class="auto-list">
							</ul>
						</div>
						<input class="margin_correct submit_button" type="submit" value="Search">
					</form>
				</div>

				<!-- ((((((((((((((((((((((((((((((((( END SEARCH REGION ))))))))))))))))))))))))))))))))) -->

				<!-- ((((((((((((((((((((((((((((((((( ADDING REGION ))))))))))))))))))))))))))))))))) -->
				<!-- iframe get url: document.getElementById("iframe_id").contentWindow.location.href -->
				<div class="appearing_div" id="add_div">
					<form id="add" action="/add" method="post" endtype="multipart/form-data">
						<div id="orig_add_wrapper" class="margin_correct suggestion_box">
							<textarea id="add_orig" rows="1" name="orig_tags" maxlength="60" placeholder="Tags for Original Song (ex. eleanor rigby, beatles, sad, strings)"></textarea>
							<ul id="orig_add_list" class="auto-list">
							</ul>
						</div>
						<div id="cover_add_wrapper" class="margin_correct suggestion_box">
							<textarea id="add_cover" rows="1" name="cover_tags" maxlength="60" placeholder="Tags for Cover Song (ex. aretha franklin, soul, energetic)"></textarea>
							<ul id="cover_add_list" class="auto-list">
							</ul>
						</div>
						<div class="margin_correct relative">
							<textarea id="add_url" rows="1" name="url" maxlength="150" placeholder="URL for song (ex. https://www.youtube.com/watch?v=d-xSxWX7_-4)"></textarea>
						</div>
						<input id="add_button" class="margin_correct submit_button" type="submit" value="Upload This Video">
					</form>
					<a  href="http://youtube.com" target="_blank"><button>Look on Youtube</button></a>
					<br />
					<a href="http://vimeo.com" target="_blank"><button>Look on Vimeo</button></a>
				</div>
			<!-- ((((((((((((((((((((((((((((((((( END ADDING REGION ))))))))))))))))))))))))))))))))) -->
			</div>
		</div>
		<!-- ((((((((((((((((((((((((((((((((( END NAVIGATION PANEL ))))))))))))))))))))))))))))))))) -->

		<!-- ((((((((((((((((((((((((((((((((( DISPLAY AREA ))))))))))))))))))))))))))))))))) -->
		<div id="display_case">
			<div id="message_wrapper">
				<h2>{{ message }}</h2>
			</div>
			<div id="all_vids">
				{% for vid in vids %}
				<div class="vid relative">
					<div id="tag_display{{ loop.index }}" class="tag_display">
						<h2>{{ tags[loop.index - 1] }}</h2>
					</div>
					<iframe id="vid_id{{ loop.index }}" onload="floaded{{ loop.index }}()" class="vid" style="z-index:10;" onmouseover="vid_mouseover{{ loop.index }}();" onmouseout="vid_mouseout{{ loop.index }}()" width="560" height="315" src="{{vid.url}}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
					<div class="tag_icon_container" onmouseover="tag_icon_mouseover{{ loop.index }}()" onmouseout="tag_icon_mouseout{{ loop.index }}()">
						<h6 id="tag_icon{{ loop.index }}" class="tag_icon_text">+</h6>
					</div>
					<div>
						<div class="appearing_div" id="tag_div{{ loop.index }}">
							<form class="tag_form tag_div" id="tag_form{{ loop.index }}">
								<textarea id="tag_url{{ loop.index }}" class="hidden" name="url" rows="1" cols="20" >{{vid.url}}</textarea>
								<div id="orig_tag_wrapper{{ loop.index }}" class="suggestion_box">
									<textarea id="orig_tags{{ loop.index }}" name="orig_tags" rows="1" cols="50" placeholder="Tags for Original Song (ex. John Cale, Paris 1919)"></textarea>
									<ul id="orig_tag_list{{ loop.index }}" class="auto-list add_auto-list">
									</ul>
								</div>
								<div id="cover_tag_wrapper{{ loop.index }}" class="suggestion_box">
									<textarea id="cover_tags{{ loop.index }}" name="cover_tags" rows="1" cols="50" placeholder="Tags for Cover Song (ex. Owen Pallett, Live)"></textarea>
									<ul id="cover_tag_list{{ loop.index }}" class="auto-list add_auto-list">
									</ul>
								</div>
								<input id="tag_button{{ loop.index }}" class="submit_button tag_button" type="submit" value="Add These Tags">
								<div class="tag_close_container">
									<p id="close_button{{ loop.index }}" onclick="close_button_click{{ loop.index }}()" class="tag_close_button">Close</p>
								</div>
							</form>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="vid" id="end">
				<hr />
			<div>
		</div>
		<!-- ((((((((((((((((((((((((((((((((( END DISPLAY AREA ))))))))))))))))))))))))))))))))) -->




		<script type="text/javascript">



			// FADE OUT INITIAL MESSAGE
			setTimeout(function() {
				$('#message_wrapper').fadeOut(2000)
			}, 3000);


			///////////////// INITIALIZE SIZE AND POSITION OF ELEMENTS ////////////////

			window.window_var = $(window);
			window.display_var = $('#display_case');
			window.video_width;
			window.video_height;

			function set_elements_size_and_position() {
				var display_button_var = $('.display_button');
				var nav_panel_appearing_var = $('#navigation_panel .appearing_div');

				if (window.window_var.width() > 800) {
					var display_width = window.window_var.width() - 300; // this will change when the window is too small.
					display_button_var.css({'width': '200px', 'height': '200px'});
					nav_panel_appearing_var.css({'margin':'auto'});
				}
				else {
					var display_width = window.window_var.width();
					nav_panel_appearing_var.css({'margin': '0 0 0 ' + String($('#navigation_panel').width()/2 - $('#add_orig').width()/2)});
					display_button_var.css({'width': '40px', 'height': '40px'});
				}

				var vid_var = $('.vid');

				window.display_var.css({
					'width': display_width
				});

				if (display_width > 800) {
					window.video_width = display_width/2;
				}
				else {
					window.video_width = display_width;
				};

				window.video_height = window.video_width*(9/16);

				vid_var.css({
					'width': window.video_width,
					'height': window.video_height
				});

				$('.tag_form').css({
					'margin': String(window.video_height)/2 +' auto auto ' + String(window.video_width/2-140)
				});

				$('.tag_icon_container').css({
					'margin': 'auto auto auto ' + String(window.video_width/2-$('.tag_icon_container').width()/2)
				});

				$('.tag_display').css({
					'width': window.video_width-20, 'height': window.video_height-20
				});
			}

			// INITIALIZE ON LOAD
			set_elements_size_and_position();

			// RE-INITIALIZE ON RESIZE
			window.window_var.resize(function() {
				set_elements_size_and_position();
			});



			/////////////////// AJAX LOAD ON SCROLL MECHANIC //////////////////////
			window.end_var = $('#end');
			window.ajax = 0;
			window.offset = 6;

			window.window_var.scroll(function() {
				var wind_top = window.window_var.scrollTop();
				$('#navigation_panel').css('top', wind_top);

				if (window.window_var.scrollTop() + window.window_var.height() > window.end_var.offset().top + window.end_var.height()/2 && window.ajax == 0) {
					window.ajax = 1;
					$.ajax({
						url: '/scroll', 
						type: 'POST',
						data: {
							query: "{{ query }}",
							offset: window.offset
						}
					}).done(function(response) {
						var json = response;
						var obj = JSON && JSON.parse(json) || $.parseJSON(json);
						var insertion = '';
						var vid_counter =0;
						for (var i = 0; i <= 6; i++) {
							if (obj[i]) {
								vid_counter += 1;
								insertion += html_template(obj[String(i)][0], obj[String(i)][1], i + window.offset + 1);
								generate_new_tag_function(i + window.offset + 1);
							}
						}
						$('#all_vids').append(insertion).each(function() {
							set_elements_size_and_position();
						});
						window.offset = window.offset + 6;
						if (vid_counter >= 6) {
							window.ajax = 0;
						}
					});
				}
			});


			// TEMPLATE USED FOR NEW VIDEOS LOADED ON SCROLL
			function html_template(url, tags, loopindex) {
				return '<div class="vid relative">\
				\	\	\	<div id="tag_display' + String(loopindex) + '" class="tag_display">\
				\	\	\	\	<h2>' + tags + '</h2>\
				\	\	\	</div>\
				\	\	\	<iframe id="vid_id' + String(loopindex) + '" onload="floaded' + String(loopindex) + '()" class="vid" style="z-index:10;" onmouseover="vid_mouseover' + String(loopindex) + '();" onmouseout="vid_mouseout' + String(loopindex) + '()" width="560" height="315" src="' + url + '" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>\
				\	\	\	<div class="tag_icon_container" onmouseover="tag_icon_mouseover' + String(loopindex) + '()" onmouseout="tag_icon_mouseout' + String(loopindex) + '()">\
				\	\	\	\	<h6 id="tag_icon' + String(loopindex) + '" class="tag_icon_text">+</h6>\
				\	\	\	</div>\
				\	\	\	<div>\
				\	\	\	\	<div class="appearing_div" id="tag_div' + String(loopindex) + '">\
				\	\	\	\	\	<form class="tag_form tag_div" id="tag_form' + String(loopindex) + '">\
				\	\	\	\	\	\	<textarea id="tag_url' + String(loopindex) + '" class="hidden" name="url" rows="1" cols="20" >' + url + '</textarea>\
				\	\	\	\	\	\	<div id="orig_tag_wrapper' + String(loopindex) + '" class="suggestion_box">\
				\	\	\	\	\	\	\	<textarea id="orig_tags' + String(loopindex) + '" name="orig_tags" rows="1" cols="50" placeholder="Tags for Original Song (ex. John Cale, Paris 1919)"></textarea>\
				\	\	\	\	\	\	\	<ul id="orig_tag_list' + String(loopindex) + '" class="auto-list add_auto-list"></ul>\
				\	\	\	\	\	\	</div>\
				\	\	\	\	\	\	<div id="cover_tag_wrapper' + String(loopindex) + '" class="suggestion_box">\
				\	\	\	\	\	\	\	<textarea id="cover_tags' + String(loopindex) + '" name="cover_tags" rows="1" cols="50" placeholder="Tags for Cover Song (ex. Owen Pallett, Live)"></textarea>\
				\	\	\	\	\	\	\	<ul id="cover_tag_list' + String(loopindex) + '" class="auto-list add_auto-list"></ul>\
				\	\	\	\	\	\	</div>\
				\	\	\	\	\	\	<input id="tag_button' + String(loopindex) + '" class="submit_button tag_button" type="submit" value="Add These Tags">\
				\	\	\	\	\	\	<div class="tag_close_container">\
				\	\	\	\	\	\	\	<p id="close_button' + String(loopindex) + '" onclick="close_button_click' + String(loopindex) + '()" class="tag_close_button">Close</p>\
				\	\	\	\	\	\	</div>\
				\	\	\	\	\	</form>\
				\	\	\	\	</div>\
				\	\	\	</div>\
				\	\	</div>';
			}


			// TEMPLATE USED FOR CODE ASSOCIATED WITH NEW VIDEO TAGS ON SCROLL
			function generate_new_tag_function(loopindex) {
				setTimeout(function() {
				window['tagout' + loopindex] = 0;

				var script = document.createElement( 'script' );
				var code = '\
				\	function vid_mouseover' + String(loopindex) + '() {\
					\	$("#tag_icon' + String(loopindex) + '").css({\
						\	"height":"80",\
						\	 "border-left":"4px solid white",\
						\	 "border-right": "4px solid white",\
						\	 "border-bottom": "4px solid white"\
						\ });}\
	\
	\	\	\	\	function vid_mouseout' + String(loopindex) + '() {\
		\	\	\	\	$("#tag_icon' + String(loopindex) + '").css({\
			\	\	\	\	"height":"0",\
			\	\	\	\	 "border": "none"\
			\	\	\	});}\
	\
	\	\	\	\	function tag_icon_mouseover' + String(loopindex) + '() {\
		\	\	\	\	$("#tag_icon' + String(loopindex) + '").css({\
			\	\	\	\	"height":"80",\
			\	\	\	\	 "width":"100px",\
			\	\	\	\	 "border-left":"4px solid white",\
			\	\	\	\	 "border-right": "4px solid white",\
			\	\	\	\	 "border-bottom": "4px solid white"\
			\	\	});}\
	\
	\	\	\	\	function tag_icon_mouseout' + String(loopindex) + '() {\
		\	\	\	\	$("#tag_icon' + String(loopindex) + '").css({\
			\	\	\	\	"height":"0",\
			\	\	\	\	 "border": "none"\
	\
	\	\	\	\	});}\
	\
	\	\	\	\	function close_button_click' + String(loopindex) + '() {\
		\	\	\	\	$("#tag_div' + String(loopindex) + '").css({"height" : "0px"});\
		\	\	\	\	$("#tag_icon' + String(loopindex) + '").html("+");\
		\	\	\	\	tagout' + String(loopindex) + ' = 0;\
		\	\	\	\	$(".tag_display").fadeOut(700);\
		\	\	\	\	$("iframe").css({"opacity":"1"});\
	\	\	\	};' + '\
	\
	\	\	\	\	var tag_form_id = $("#tag_form' + String(loopindex) + '");\
	\	\	\	\	var orig_tag_wrapper_id = $("#orig_tag_wrapper' + String(loopindex) + '");\
	\	\	\	\	var orig_tag_textarea_id = $("#orig_tags' + String(loopindex) + '");\
	\	\	\	\	var orig_tag_list_id = $("#orig_tag_list' + String(loopindex) + '");\
	\	\	\	\	var orig_tag_textarea_plain_id = "$(\'#orig_tags' + String(loopindex) + '\')";\
	\	\	\	\	var cover_tag_wrapper_id = $("#cover_tag_wrapper' + String(loopindex) + '");\
	\	\	\	\	var cover_tag_textarea_id = $("#cover_tags' + String(loopindex) + '");\
	\	\	\	\	var cover_tag_list_id = $("#cover_tag_list' + String(loopindex) + '");\
	\	\	\	\	var cover_tag_textarea_plain_id = "$(\'#cover_tags' + String(loopindex) + '\')";' + "\
	\
	\	\	\	\	$('#tag_icon" + String(loopindex) + "').live('click',function() {\
		\	\	\	\	if (tagout" + String(loopindex) + " == 0) {\
			\	\	\	\	$('#tag_div" + String(loopindex) + "').css({'height' : window.video_height, 'width': window.video_width});\
			\	\	\	\	$('#tag_icon" + String(loopindex) + "').html('-');\
			\	\	\	\	tagout" + String(loopindex) + " = 1;\
			\	\	\	\	$('.tag_display').fadeIn(700);\
			\	\	\	\	$('iframe').css({'opacity':'.2'\
				\	\	});}\
	\	\	\	\	\	else {\
		\	\	\	\	\	$('#tag_icon" + String(loopindex) + "').html('+');\
		\	\	\	\	\	tagout" + String(loopindex) + " = 0;\
		\	\	\	\	\	$('#tag_div" + String(loopindex) + "').css({'height' : '0px'});\
		\	\	\	\	\	$('.tag_display').fadeOut(700);\
		\	\	\	\	\	$('iframe').css({'opacity':'1'});\
	\	\	\	\	\	}\
	\	\	\	\	});\
	\
	\	\	\	\	hint_keypress_mechanic(tag_form_id, orig_tag_wrapper_id, orig_tag_textarea_id, orig_tag_list_id, orig_tag_textarea_plain_id);\
	\	\	\	\	hint_keypress_mechanic(tag_form_id, cover_tag_wrapper_id, cover_tag_textarea_id, cover_tag_list_id, cover_tag_textarea_plain_id);\
	\	\	\	\	tag_enter_submit(" + String(loopindex) + ");\
	\	\	\	\	tag_click_submit(" + String(loopindex) + ");\
	\
	\
	\
\	\
\	";
				script.type = 'text/javascript';
				try {
					script.appendChild(document.createTextNode(code));
					document.body.appendChild(script);
					}
				catch (e) {
					script.text = code;
					document.body.appendChild(script);
					}
			}, 100);
	}






			///////////////////////// HINT MECHANIC /////////////////////////////

			// INPUTS CLICKED HINT LIST VALUE INTO ASSOCIATED TEXTAREA
			function input_clicked_value(textarea_id, li_id) {
				textarea_id.focus();
				new_input = li_id.text();
				existing_query = textarea_id.val();
				last_comma = existing_query.lastIndexOf(",");
				textarea_id.val(existing_query.slice(0, last_comma + 1) + ' ' + new_input);
			}

			// TEMPLATE FOR LIST ELEMENTS FOR HINT
			function list_template(tag, index, textarea_plain_id) {
				return '<li onmousedown="input_clicked_value(' + textarea_plain_id + ', $(this))">' + "<b>" + tag.slice(0, index) + "</b>" + tag.slice(index) + '</li>';
			}

			// HIGHLIGHT HOVERED HINT
			$("li").live({
				mouseenter:
					function() {
						$('li').css({'background-color': 'white'});
						$(this).css({'background-color': '#ddd'});
						nth = $(this).index();
					},
				});

			// CLEARS HINT LIST ON UNFOCUS
			function hint_clear(hint_container) {  // with only one instance, is this function necessary to build, or just call?
				$(hint_container + ' textarea').live( {
					focusout : function () {
						nth = -2;
						setTimeout(function() {
							$(hint_container + ' ul').html('');
						}, 100);
					}
				});
			}

			hint_clear('.appearing_div');

			// STRIPS WHITESPACE FROM BOTH SIDES OF STRING
			function trim_whitespace(str) {
			    return str.replace(/^\s\s*/, '').replace(/\s\s*$/, '');
			}


			//  QUERY DATABASE BY MEANS OF AJAX CALL
			window.partial_query = "";
			var nth = -2;
			var last_query_term;
			var last_comma;

			function hint(textarea_id, list_id, list_nth_child_id, textarea_plain_id) {
				if (textarea_id.is(':focus')) {
				    setTimeout(function() {
				    	window.partial_query = trim_whitespace(textarea_id.val());
				    	last_comma = window.partial_query.lastIndexOf(",");
				    	if (last_comma != -1) {
				    		last_query_term = trim_whitespace(window.partial_query.slice(last_comma + 1));
				    	}
				    	else {
				    		last_query_term = window.partial_query;
				    	}
				    	var partial_query_length = last_query_term.length;
					    if (partial_query_length > 0) {
						    $.ajax({
						    	url: '/hint', 
						    	type: 'POST',
						    	data: {
						    		partial_query: window.partial_query
						    	}
						    }).done(function(response) {
						    	var json = response;
						    	var list_insert = "";
						    	if (json) {
							    	var obj = JSON && JSON.parse(json) || $.parseJSON(json);
							    	for (var i = 0; i < obj.length; i++) {
							    		list_insert += list_template(obj[i], partial_query_length, textarea_plain_id);
							    	}
								   	list_id.html(list_insert);
								   	nth = 0;
								   	list_nth_child_id = list_id.find('li:eq(' + nth + ')');
								   	list_nth_child_id.css({'background-color':'#ddd'})
							    }
							    else {
							    	nth = -2;
							    	list_nth_child_id = list_id.find('li:eq(' + nth + ')');
							    	list_id.html("");
							    }
						    });
						}
						else {
							nth = -2;
							list_nth_child_id = list_id.find('li:eq(' + nth + ')');
							list_id.html("");
						}
					}, 1);
				}
				else {
					nth = -2;
					list_nth_child_id = list_id.find('li:eq(' + nth + ')');
					list_id.html("");
				}
			}

			// LINK AJAX CALL TO KEYED IN QUERIES

			// DECLARE USEFUL ID'S
			var search_form = $('#advanced_search');
			var add_form = $('#add');

			var orig_search_wrapper = $('#orig_search_wrapper');
			var cover_search_wrapper = $('#cover_search_wrapper');
			var orig_add_wrapper = $('#orig_add_wrapper');
			var cover_add_wrapper = $('#cover_add_wrapper');

			var orig_search_textarea = $('#search_orig');
			var cover_search_textarea = $('#search_cover');
			var orig_add_textarea = $('#add_orig');
			var cover_add_textarea = $('#add_cover');

			var orig_search_list = $('#orig_search_list');
			var cover_search_list = $('#cover_search_list');
			var orig_add_list = $('#orig_add_list');
			var cover_add_list = $('#cover_add_list');

			var orig_search_textarea_plain_id = "$('#search_orig')";
			var orig_search_list_plain_id = "$('#orig_search_list')";
			var cover_search_textarea_plain_id = "$('#search_cover')";
			var cover_search_list_plain_id = "$('#cover_search_list')";
			var orig_add_textarea_plain_id = "$('#add_orig')";
			var orig_add_list_plain_id = "$('#orig_add_list')";
			var cover_add_textarea_plain_id = "$('#add_cover')";
			var cover_add_list_plain_id = "$('#cover_add_list')";

			var list_nth_child_id;
			var new_input;


			var mouse_moved = 0;

			// PER KEY HINT MECHANIC
			function hint_keypress_mechanic(form_id, wrapper_id, textarea_id, list_id, textarea_plain_id) {
				textarea_id.keydown(function(e) {
					mouse_moved = 0;
					list_nth_child_id = list_id.find('li:eq(' + nth + ')');
					// ENTER
				    if (e.keyCode == 13){
				    	event.preventDefault();
				    	if (nth == -2) {
				    		form_id.submit();
				    	}
				    	else {
				    		if (list_nth_child_id.text().length > 0) {
				    			current_selection = list_nth_child_id.text();
				    			textarea_id.val(window.partial_query.slice(0, last_comma + 1) + ' ' + current_selection);
				    			list_id.html("");
				 		   		nth = -2;
				    			list_nth_child_id = list_id.find('li:eq(' + nth + ')');
				    		}
				    	}
				    }
				    // TAB
				    else if (e.keyCode == 9) {
				    	setTimeout(function() {
				        	list_id.html("");
				        }, 50);
				    }
				    // LETTER OR ABOVE OR BACKSPACE
				    else if (e.keyCode > 48 || e.keyCode == 8) {
					    hint(textarea_id, list_id, list_nth_child_id, textarea_plain_id);
					}
					// UP ARROW
					else if (e.keyCode == 38) {
						event.preventDefault();
						if (nth > 0) {
							list_nth_child_id.css({'background-color':'white'});
							nth -= 1;
							list_nth_child_id = list_id.find('li:eq(' + nth + ')');
							list_nth_child_id.css({'background-color':'#ddd'});
						}
					}
					// DOWN ARROW
					else if (e.keyCode == 40) {
						event.preventDefault();
						if (nth < list_id.children().length - 1) {
							list_nth_child_id.css({'background-color':'white'});
							nth += 1;
							list_nth_child_id = list_id.find('li:eq(' + nth + ')');
							list_nth_child_id.css({'background-color':'#ddd'});
						}
					}
					// ESC
					else if (e.keyCode == 27) {
						nth = -2;
						setTimeout(function() {
							list_id.html('');
						}, 100);
					}
				});
			}


			hint_keypress_mechanic(search_form, orig_search_wrapper, orig_search_textarea, orig_search_list, orig_search_textarea_plain_id);
			hint_keypress_mechanic(search_form, cover_search_wrapper, cover_search_textarea, cover_search_list, cover_search_textarea_plain_id);
			hint_keypress_mechanic(add_form, orig_add_wrapper, orig_add_textarea, orig_add_list, orig_add_textarea_plain_id);
			hint_keypress_mechanic(add_form, cover_add_wrapper, cover_add_textarea, cover_add_list, cover_add_textarea_plain_id);






			////////////// SHOW AND HIDE NAVIGATION BUTTONS ///////////////

			function display_click_mechanic(clicked, sub_div) {
				clicked.click(function() {
					sub_div.css({'display':'block','height': '270px'});
					$('.display_button').css({'display': 'none'});
					if (window.window_var.width() > 800) {
						$('#hamburger').css({'height':'170px', 'display':'block'});
					}
					else {
						$('#hamburger').css({'height':'40px', 'display':'block'});
						$('#navigation_panel .appearing_div').css({'margin': '0 0 0 ' + String($('#navigation_panel').width()/2 - $('#add_orig').width()/2)});
					}
				});
			}

			display_click_mechanic($('#add_display'), $('#add_div'));
			display_click_mechanic($('#search_display'), $('#search_div'));

			$('#hamburger').click(function() {
				$('#add_div').css({'height':'0px'});
				$('#search_div').css({'height':'0px'});
				$('.display_button').css('display', 'block');
				$('#hamburger').css({'height':'0px', 'display':'none'});
			});









			//////////////// DETERMINE SAME FUNCTIONS FOR ALL VIDEOS RETURNED FROM DATABSE //////////
			{% for vid in vids %}

			function vid_mouseover{{ loop.index }}() {
				$("#tag_icon{{ loop.index }}").css( {
					"height":"80", 
					"border-left":"4px solid white", 
					"border-right": "4px solid white", 
					"border-bottom": "4px solid white"
				});
			}

			function vid_mouseout{{ loop.index }}() {
				$("#tag_icon{{ loop.index }}").css( {
					"height":"0", "border": "none"
				});
			}

			function tag_icon_mouseover{{ loop.index }}() {
				$("#tag_icon{{ loop.index }}").css({
					"height":"80", 
					"width":"100px", 
					"border-left":"4px solid white", 
					"border-right": "4px solid white", 
					"border-bottom": "4px solid white"});
			}

			function tag_icon_mouseout{{ loop.index }}() {
				$("#tag_icon{{ loop.index }}").css({"height":"0", "border": "none"});
			}

			function close_button_click{{ loop.index }}() {
				$('#tag_div{{ loop.index }}').css({'height' : '0px'});
				$('#tag_icon{{ loop.index }}').html('+');
				tagout{{ loop.index}} = 0;
				$('.tag_display').fadeOut(100);$('iframe').css({'opacity':'1'});
			}

			var tag_form_id = $('#tag_form{{ loop.index }}');
			var orig_tag_wrapper_id = $('#orig_tag_wrapper{{ loop.index }}');
			var orig_tag_textarea_id = $('#orig_tags{{ loop.index }}');
			var orig_tag_list_id = $('#orig_tag_list{{ loop.index }}');
			var orig_tag_textarea_plain_id = "$('#orig_tags{{ loop.index }}')";

			var cover_tag_wrapper_id = $('#cover_tag_wrapper{{ loop.index }}');
			var cover_tag_textarea_id = $('#cover_tags{{ loop.index }}');
			var cover_tag_list_id = $('#cover_tag_list{{ loop.index }}');
			var cover_tag_textarea_plain_id = "$('#cover_tags{{ loop.index }}')";

			hint_keypress_mechanic(tag_form_id, orig_tag_wrapper_id, orig_tag_textarea_id, orig_tag_list_id, orig_tag_textarea_plain_id);
			hint_keypress_mechanic(tag_form_id, cover_tag_wrapper_id, cover_tag_textarea_id, cover_tag_list_id, cover_tag_textarea_plain_id);

			var tagout{{ loop.index }} = 0;



			$('#tag_icon{{ loop.index }}').live('click',function() {
				if (tagout{{ loop.index }} == 0) {
					$('#tag_div{{ loop.index }}').css({'height' : window.video_height, 'width': window.video_width});
					$('#tag_icon{{ loop.index }}').html('-');
					tagout{{ loop.index}} = 1;
					$('.tag_display').fadeIn(700);
					$('iframe').css({'opacity':'.2'});
				}
				else {
					$('#tag_icon{{ loop.index }}').html('+');
					tagout{{ loop.index}} = 0;
					$('#tag_div{{ loop.index }}').css({'height' : '0px'});
					$('.tag_display').fadeOut(700);
					$('iframe').css({'opacity':'1'});
				}
			})


			// CAN COMBINE THESE TWO?
			function tag_enter_submit(index) {
				$('#tag_form' + String(index)).submit(function() {
					var tag_url = $('#tag_url' + String(index)).text();
					var tag_orig_tags = $('#orig_tags' + String(index)).val();
					var tag_cover_tags = $('#cover_tags' + String(index)).val();
					$('#tag_form' + String(index)).html('<img class="loading_spinner" src="/stylesheets/images/loader.gif">');
					$.ajax({
						url: '/tag', 
						type: 'POST',
						data: {
							url : tag_url,
							orig_tags : tag_orig_tags,
							cover_tags : tag_cover_tags
						}
					}).done(function(response) {
						var json = response;
						$('#tag_form' + String(index)).html('<p class="tag_added_message">Success!</p>');
						setTimeout(function() {
							$('#tag_form' + String(index)).fadeOut(2000);
						}, 1000);
						setTimeout(function() {
							$('#tag_div' + String(index)).css({'z-index': '-1'})
						}, 3000);
					});
					return false;
				})
			}

			// can take all these functions outside of the loop, so they're not defined over and over
			function tag_click_submit(index) {
				$('#tag_button' + String(index)).click(function() {
					var tag_url = $('#tag_url' + String(index)).text();
					var tag_orig_tags = $('#orig_tags' + String(index)).val();
					var tag_cover_tags = $('#cover_tags' + String(index)).val();
					$('#tag_form' + String(index)).html('<img class="loading_spinner" src="/stylesheets/images/loader.gif">');
					$.ajax({
						url: '/tag', 
						type: 'POST',
						data: {
							url : tag_url,
							orig_tags : tag_orig_tags,
							cover_tags : tag_cover_tags
						}
					}).done(function(response) {
						var json = response;
						$('#tag_form' + String(index)).html('<p class="tag_added_message">Success!</p>');
						setTimeout(function() {
							$('#tag_form' + String(index)).fadeOut(2000);
						}, 1000);
						setTimeout(function() {
							$('#tag_div' + String(index)).css({'z-index': '-1'})
						}, 3000);
					});
					return false;
				})
			}

			tag_enter_submit({{ loop.index }});
			tag_click_submit({{ loop.index }});



			//////////// LOGGING CLICKS ON VIDEO ////////////

			//onYouTubePlayerAPIReady


			window['floading(index, url)'] = function(index) {

				var current_url = url;
				var id_index = current_url.lastIndexOf('/');
				window['player_id' + String(index)] = current_url.slice(id_index + 1);

				window[floaded{{ loop.index }}] = function(index){
					window['player{{ loop.index }}'] = new YT.Player('vid_id{{ loop.index }}', {
						videoId: window['player_id{{ loop.index }}'],
						events: {
							'onStateChange': function (event) {
								if (event.data == YT.PlayerState.PLAYING) {
									console.log('Playing..{{ loop.index }}');
								}
								else if (event.data == YT.PlayerState.PAUSED) {
									console.log('Paused..{{ loop.index }}');
								}
								else {
									console.log('Buffering/Video {{ loop.index }} Ended');
								}
							}
						}
					});
				}
			}

			/*

			var current_url = '{{ vid.url }}';
			var id_index = current_url.lastIndexOf('/');
			window['player_id{{ loop.index }}'] = current_url.slice(id_index + 1);

			function floaded{{ loop.index }}(){
				window['player{{ loop.index }}'] = new YT.Player('vid_id{{ loop.index }}', {
					videoId: window['player_id{{ loop.index }}'],
					events: {
						'onStateChange': function (event) {
							if (event.data == YT.PlayerState.PLAYING) {
								console.log('Playing..{{ loop.index }}');
							}
							else if (event.data == YT.PlayerState.PAUSED) {
								console.log('Paused..{{ loop.index }}');
							}
							else {
								console.log('Buffering/Video {{ loop.index }} Ended');
							}
						}
					}
				});
			}

			*/


			{% endfor %}


		</script>
	</body>
</html>
