body {
  font-family: Verdana, Helvetica, sans-serif;
  margin: 0;
  background-color: black;
  width: 100%;
  height: 100%;
}

a {
	text-decoration: none;
	color: white;
}

button {
	width: 200px;
	margin: 10px auto 0px 50px;
}

/* Glyph, by Harry Roberts */
		
hr {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
}

hr:after {
    content: "ยง";
    display: inline-block;
    position: relative; 
    top: -0.7em;  
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}
/* end */


input, textarea {
	display: block;
	resize:none;
	border: 2px solid black;
	width: 280px;
	margin: 3px auto;
	font-size: 1em;
	white-space: nowrap;
	overflow: hidden;
	vertical-align:middle;
	font-family: Verdana, Helvetica, sans-serif;
}

ul.auto-list{
	/*display: none;*/
	position: absolute;
	top: 1.5em;
	border: 1px solid black;
	background-color: white;
	padding: 0;
	margin: 0;
	list-style:none;
	z-index: 1;
}

ul.auto-list > li:hover,
ul.auto-list > li[data-selected=true] {
	background-color: #ddd;
}

ul.auto-list > li {
	border: 1px solid gray;
	cursor: default;
	padding: 2px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}

.appearing_div {
	-webkit-transition-duration: 0.7s;
	-moz-transition-duration: 0.7s;
	-o-transition-duration: 0.7s;
	transition-duration: 0.7s;
	height: 0px;
	position: absolute;
	overflow:hidden;
	z-index: 2;
}

.appearing_div textarea {
	margin: 3px 0;
}

.display_button {
	font-size: 8em;
	width: 200px;
	margin: 0 auto 10px auto;
	background-color: white;
	height: 170px;
	-webkit-transition-duration: 2s;
	-moz-transition-duration: 2s;
	-o-transition-duration: 2s;
	transition-duration: 2s;
}

.display_button:hover {
	cursor:pointer;
	border-color: white;
}

.hidden {
	display:none;
}

.margin_correct {
	margin: 0.5em;
}

.relative {
	position: relative;
}

.submit_button, button {
	background-color: #ccc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
	background-image: -webkit-linear-gradient(top, #eee, #ccc);
	background-image: -moz-linear-gradient(top, #eee, #ccc);
	background-image: -ms-linear-gradient(top, #eee, #ccc);
	background-image: -o-linear-gradient(top, #eee, #ccc);
	background-image: linear-gradient(top, #eee, #ccc);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
	-moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
	font-weight: bold;
	font-size: 1.25em;
	border: 1px solid #777;
	padding: 0 1.5em;
	font: bold 1em/2em Arial, Helvetica;
}

.submit_button:hover, button:hover {
	background-color: #ddd;        
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
	background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
	background-image: -moz-linear-gradient(top, #fafafa, #ddd);
	background-image: -ms-linear-gradient(top, #fafafa, #ddd);
	background-image: -o-linear-gradient(top, #fafafa, #ddd);
	background-image: linear-gradient(top, #fafafa, #ddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd'); 

}

.submit_button:active, button:active {
	-moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	-webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	position: relative;
	top: 1px;
}

.submit_button:focus, button:focus {
	outline: 0;
	background: #fafafa;
}

.suggestion_box {
	position:relative;
}

.tag_added_message {
	background-color: black;
	text-align: center;
	border: 5px solid white;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	z-index: 4;
	padding: 10px;
	color: white;
	font-weight: bold;
	width: 10em;
	font-size: 1.5em;
}

.tag_button {
	width: 200px;
	margin: auto;
	float: left;
}

.tag_display {
	position:absolute;
	background-color: black;
	padding: 10px;
	display:none;
	overflow: hidden;
}

.tag_display h2 {
	color: white;
	overflow: hidden;
}

.tag_close_button {
	border: 2px solid white;
	background-color: black;
	color: white;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	padding: 5;
	margin: 0;
}

.tag_close_button:hover {
	border: 2px solid black;
	background-color: white;
	color: black;
}

.tag_close_container {
	display: inline;
	float:left;
	margin-left: 20px;
	padding: 0;
	margin-left: 10;
}

.tag_icon_container {
	position:absolute;
	z-index: 3;
	overflow: hidden;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.tag_icon_container h6 {
	color: lightgrey;
	font-weight: bold;
	font-size: 4em;
	background-color: black;
	-moz-border-bottom-left-radius: 14px;
	-webkit-border-bottom-left-radius: 14px;
	border-bottom-left-radius: 14px;
	-moz-border-bottom-right-radius: 14px;
	-webkit-border-bottom-right-radius: 14px;
	border-bottom-right-radius: 14px;
	margin:0;
	width: 100px;
	text-align: center;
	height: 0;
}

.tag_icon_container h6:hover {
	cursor: pointer;
	color: white;
}

.vid {
	float:left;
}

#black_panel {
	width: 300px;
	height: 100%;
	background-color: white;
	z-index: 1;
	position:fixed;
}

#display_case {
	position: absolute;
	padding-left:300px;
	width:100%;
	height: 100%;
	background-color: black;
}

#end {
	background-color: black;
}

#end hr {
	margin-top: 30%;
	border-top: medium double #888;
	color: #888;
}

#end hr:after {
	background: black;
}

#hamburger {
	display: none;
}

#message_wrapper {
	position: absolute;
	background-color: black;
	text-align: center;
	margin-top: 10%;
	margin-left: 10%;
	border: 5px solid white;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	z-index: 4;
	padding: 10px;
}

#message_wrapper h2 {
	color: white;
}

#navigation_container {
	position:relative;
}

#navigation_panel {
	position:absolute;
	width: 300px;
	background-color: white;
	z-index: 2;
}

#navigation_panel h1 {
	text-align: center;
}

#search_display {
	background-image: url('images/search.png');
	background-repeat: no-repeat;
	background-position: center;
}

@media all and (min-width: 800px) {
}

@media all and (max-width: 800px) {
	#black_panel {
		display:none;
	}

	#add_display {
		width: 40px;
		height: 40px;
		font-size: 27px;
		position: fixed;
		top: 5;
		left: 55;
	}

	#display_case {
		position: relative;
		padding-left:0px;
	}

	#hamburger {
		width: 40px;
		height: 40px;
		font-size: 27px;
		position: fixed;
		top: 5;
		left: 5;
	}

	#navigation_panel {
		position:relative;
		width: auto;
		z-index: 5;
	}

	#navigation_panel .appearing_div {
		position: relative;
		display: block;
		margin: 0 50;
	}

	#search_display {
		width: 40px;
		height: 40px;
		background-size: 40px;
		position: fixed;
		top: 5;
		left: 5;
	}

	.display_button {
		margin: 0;
	}

	.vid {
		clear:both;
	}
}
